@using Biztek.Paisadeal.App.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="container">
    <div class="col-md-12">
        <div class="content-box" style="border:2px solid #e2e2e2; border-radius:3px;background:#f2f2f2"><h1 style="padding-top:30px;color:#ff8080;font-size:28px;font-weight:bold"><span style="color:#2C6EAD">Congratulations</span> You are at strep 1 to your loan!</h1></div>
    </div>
    <div class="logmod">
        <div class="logmod__wrapper">
            <div class="logmod__container">
                <ul class="logmod__tabs" style="padding-bottom:40px">
                    <li data-tabtar="lgm-2" class="current"><a href="#">Sign In</a></li>
                    <li data-tabtar="lgm-1">@Html.ActionLink("Sign Up", "Register", "Account")</li>
                </ul>
                <div class="logmod__tab-wrapper">
                    <div class="logmod__tab lgm-1 show">
                        <div class="logmod__form">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="sminputs">
                                    <div class="input full">
                                        <div class="col-md-3">
                                            @Html.LabelFor(m => m.Email, new { @class = "string optional" })
                                        </div>
                                        <div class="col-md-9">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "string optional" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger", @Paceholder = "email" })
                                        </div>
                                    </div>
                                </div>
                                <div class="sminputs">
                                    <div class="input full">

                                        <div class="col-md-3"> @Html.LabelFor(m => m.Password, new { @class = "string optional" })</div>
                                        <div class="col-md-9">
                                            @Html.PasswordFor(m => m.Password, new { @class = "string optional" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>

                                <div class="sminputs">
                                    <div class="input full">
                                        <div class="col-md-3"> @Html.LabelFor(m => m.RememberMe)</div>
                                        <div class="col-md-9">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="simform__actions" style="text-align:center">
                                    <div>  <button class="sumbit" name="submit" type="sumbit" value="Log In">Log In</button></div>
                                    <span class="simform__actions-sidetext"><a class="special" role="link" href="#">Forgot your password?</a></span>
                                </div>
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                            }
                            <div class="simform__actions" style="text-align:center">

                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
