@using Biztek.Paisadeal.App.Models
@model TypeOFLoanViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header{
    <style>
        input[type="radio"] {
            border: 1px solid;
            width: 20px;
            height: 20px !important;
            background-color: white;
            color: #fff;
            padding: 5px
        }

        .radio-inline {
            width: 45%;
            font-size: 16px
        }

        .myform .col-md-6 {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .submitButtons a, button {
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none;
            border-radius: 3px;
            letter-spacing: 1px;
            margin: 5px;
        }

        .IconText {
            padding-bottom: 0px;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
        }

        @@media (max-width:990px) {
            .col-md-3 {
                width: 25%;
                display: inline;
                float: left
            }

            .IconText {
                padding-bottom: 0px;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
            }
        }

        @@media (max-width:500px) {
            .col-md-3 {
                width: 25%;
                display: inline;
                float: left
            }

            .IconText {
                padding-bottom: 0px;
                font-size: 10px;
                font-weight: bold;
                text-align: center;
            }
        }
    </style>

}

<div class="container">
    <div class="col-md-12">
        <div>
            <div class="col-md-3 IconText">Personal Info</div>
            <div class="col-md-3 IconText">Type of Loan</div>
            <div class="col-md-3 IconText">Credit Info</div>
            <div class="col-md-3 IconText">Same Loan <br />Rate & Terms</div>
        </div>
        <div style="text-align:center;">
            <img src="/img/icon.jpg" style="width:85%;max-width:100%;text-align:center;margin:auto" />
        </div>

        <div style="clear:both"></div>
        <div style="height:40px;width:100%"></div>
    </div>
    <div class="col-md-12 myform">
        @using (Html.BeginForm("Index", "Loan", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id="stepone" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <h2 style="color:#7493BA;padding-left:12px"> <strong>Step 2: Types Of Loan</strong></h2>

            <div style="clear:both"></div>
            <div style="height:20px;width:100%"></div>

            @Html.EditorFor(m => m.LoanType, "LoanTypes", new { SelectedValue = Model.SelectedLoanType })
            @Html.EditorFor(m => m.EmployeeType, "LoanTypes", new { SelectedValue = Model.SelectedEmployeeType })

            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.CompanyName)</strong></h5>
                <div class="input-group margin-bottom-sm">
                    <span class="input-group-addon">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.CompanyName)
            </div>


            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.TypeOfCompany)</strong></h5>
                <div class="input-group margin-bottom-sm">

                    <span class="input-group-addon">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.TypeOfCompany, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.TypeOfCompany)
            </div>

            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.Designation)</strong></h5>
                <div class="input-group margin-bottom-sm">

                    <span class="input-group-addon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.Designation, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Designation)
            </div>

            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.CompanyAddress)</strong></h5>
                <div class="input-group margin-bottom-sm">

                    <span class="input-group-addon">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                    </span>
                    @Html.TextAreaFor(m => m.CompanyAddress, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.CompanyAddress)
            </div>

            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.CompanyPhoneNumber)</strong></h5>
                <div class="input-group margin-bottom-sm">

                    <span class="input-group-addon">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.CompanyPhoneNumber, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.CompanyPhoneNumber)
            </div>

            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.State)</strong></h5>
                <div class="input-group margin-bottom-sm">

                    <span class="input-group-addon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>

                    </span>
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.State)
            </div>

            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.NetSalary)</strong></h5>
                <div class="input-group margin-bottom-sm">

                    <span class="input-group-addon">
                        <i class="fa fa-inr" aria-hidden="true"></i>

                    </span>
                    @Html.TextBoxFor(m => m.NetSalary, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.NetSalary)
            </div>

            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.City)</strong></h5>
                <div class="input-group margin-bottom-sm">

                    <span class="input-group-addon">
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.City)
            </div>

            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.AnnualSalary)</strong></h5>
                <div class="input-group margin-bottom-sm">

                    <span class="input-group-addon">
                        <i class="fa fa-inr" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.AnnualSalary, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.AnnualSalary)
            </div>

            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.PinCode)</strong></h5>
                <div class="input-group margin-bottom-sm">

                    <span class="input-group-addon">
                        <i class="fa fa-flag-o" aria-hidden="true"></i>

                    </span>
                    @Html.TextBoxFor(m => m.PinCode, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.PinCode)
            </div>

            <div class="col-md-6">
                <h5><strong>@Html.DisplayNameFor(m => m.Form16)</strong></h5>
                <div class="input-group margin-bottom-sm">

                    <span class="input-group-addon">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </span>
                    @Html.TextBoxFor(m => m.Form16, new { @class = "form-control" })
                </div>
                @Html.ValidationMessageFor(m => m.Form16)
            </div>

            <div style="clear:both"></div>

            <div class="submitButtons" style="margin-top:40px;text-align:center;">
                <a name="submit" href="javascript:" onclick="document.getElementById('stepone').submit();" style="background-color:#ff0000;" value="Next">Next </a>
                <a href="#" style="background-color:#a6a6a6;">Back</a>
            </div>

        }
    </div>



    <div style="clear:both"></div>
    <div style="height:40px;width:100%"></div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
