<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href='http://fonts.googleapis.com/css?family=Kreon:300,400,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("header", false)
</head>
<body>
    <div class="header_bg" id="home">
        <!-- start header -->
        <div class="container" style="margin-top:0px">
            <div class="row header text-center specials">
                <div class="h_logo">
                    <a href="index.html"><img src="/img/logo.png" alt="" class="responsive" /></a>
                </div>
                <nav class="top-nav">
                    <ul class="top-nav nav_list">
                        <li>@Html.ActionLink("Business Loan", "Index", "Loan", new{ loan="business" },null)</li>
                        <li>@Html.ActionLink("Personal Loan", "Index","Loan", new { loan = "personal" },null)</li>
                        <li class="logo"><a title="hexa" href="/"><img src="/img/logo.png" alt="" class="responsive" /></a></li>
                        <li><a href="blog.html">Investors</a></li>
                        <li><a href="#contact">Start Ups</a></li>
                        @Html.Partial("_LoginPartial")
                    </ul>

                    <a href="#" id="pull"><img src="/img/nav-icon.png" title="menu" /></a>
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @RenderBody()
    <div class="footer1_bg">
        <!-- start footer1 -->
        <div class="container">
            <div class="row  footer">
                <ul class="footer-nav">
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Privacy Poilicy</a></li>
                    <li><a href="#">Press</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Paisadeal.org</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>

                <div class="copy text-center" style="margin-top:20px">
                    <p class="link"><span>&#169; Paisadeal Project 2009-2017 Released</span></p>
                    <a href="#home" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
                </div>
            </div>

            <!---- start-smoth-scrolling---->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)
</body>
</html>
